<%- include('partials/header.ejs') %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui rounded medium centered image" src="<%= blog.image %>">
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <div class="content" style="text-align: end;">
                <span><strong>Created : </strong><cite><%= blog.created.toDateString() %></cite></span>
            </div>
        </div>
        <a class="ui orange inverted button" href="/blogs/<%= blog._id %>/edit">Edit</a>
        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="float: right;">
            <button  class="ui red inverted button">Delete</button>
        </form>
    </div>
    
<%- include('partials/footer.ejs') %>